<!DOCTYPE HTML>
<html ng-app>
<head>
<title>simple app</title>
<script  src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="controller.js"></script><link rel="stylesheet" type="text/css" href= "style.css">
</head>
<body>
<div ng-controller="samplectrl">
<table>
<thead>
<th>last</th>
<th>first</th>
</thead>
<tbody>
<tr ng-repeat="person in people">

<td>{{person.last}}</td>
<td>{{person.first}}</td>
</tr>
<tr>
<td><input ng-model="addlast"type ="text"placeholder="name"></td>
<td><input ng-model="addfirst"type="text"placeholder="name"></td>
<td><button ng-click="addperson()">Add</button></td>
</tr>
</tbody>

</table>
</div>
</body>
</html>